{[:duct/const :duct/daemon :brainard/application]
 #ig/ref :brainard/webserver

 :brainard/webserver
 {:apis        #ig/ref :brainard/apis
  :handler     #ig/ref :brainard/IWebHandler
  :server-port #ig/ref :cfg/server-port}


 ;; apis
 [:duct/const :brainard/apis]
 {:notes     #ig/ref :brainard/notes-api
  :schedules #ig/ref :brainard/schedules-api
  :workspace #ig/ref :brainard/workspace-api}

 [:duct/const :brainard/notes-api]
 {:store #ig/ref :brainard/storage}

 [:duct/const :brainard/schedules-api]
 {:store #ig/ref :brainard/storage}

 [:duct/const :brainard/workspace-api]
 {:store #ig/ref :brainard/storage}


 ;; infra
 :brainard/storage
 {:ds-client #ig/ref :brainard.ds/client}

 :brainard.ds/client
 {:logger #ig/ref :brainard.ds/IDBLogger}


 ;; env
 [:duct/const :cfg/server-port]
 #duct/env ["SERVER_PORT" Int :or 1165]

 [:duct/const :cfg.ds/db-name]
 #duct/env ["DATASCRIPT_DB_NAME" :or "brainard"]}
