{[:brainard/application :duct/daemon :duct/const]
 #ig/ref :brainard/webserver

 :brainard/webserver
 {:apis        #ig/ref :brainard/apis
  :server-port #ig/ref :cfg/server-port}

 ;; apis
 [:brainard/apis :duct/const]
 {:notes     #ig/ref :brainard.api/notes
  :schedules #ig/ref :brainard.api/schedules}

 [:brainard.api/notes :duct/const :brainard/notes-api]
 {:store #ig/ref :brainard.store/notes}

 [:brainard.api/schedules :duct/const :brainard/schedules-api]
 {:store #ig/ref :brainard.store/schedules}

 ;; stores
 [:brainard.store/notes :brainard/notes-store]
 {:datascript-conn #ig/ref :brainard.datascript/conn}

 [:brainard.store/schedules :brainard/schedules-store]
 {:datascript-conn #ig/ref :brainard.datascript/conn}

 ;; infra
 [:brainard.datascript/conn :brainard/datascript-conn]
 {:logger #ig/ref :brainard.datascript/logger}

 ;; env
 [:cfg/server-port :duct/const]
 #duct/env ["SERVER_PORT" Int :or 1165]}
