{:duct.profile/base #duct/include "duct/base.edn"
 :duct.profile/prod {[:brainard.web/handler :brainard/IWebHandler]
                     {:upload-limit #ig/ref :cfg.obj/upload-size-limit}

                     [:brainard.ds/conn :brainard/IDBConn]
                     {:db-name #ig/ref :cfg.ds/db-name
                      :schema  #ig/ref :cfg.ds/schema}

                     [:brainard/s3-invoker :brainard/IObjInvoker]
                     {:access-key #ig/ref :cfg.obj/access-key
                      :bucket     #ig/ref :cfg.obj/bucket
                      :region     #ig/ref :cfg.obj/region
                      :secret-key #ig/ref :cfg.obj/secret-key}}}
