**/.clj-kondo/*/
.cpcache/
.idea/
.shadow-cljs/
.storage/
classes/
node_modules/
resources/public/js/
resources/public/css/
resources/public/img/
target/
.DStore
*.iml
*.log
.env
.nrepl-port

# offline dev resources
_bulma.scss
_lineicons.scss
