{:project skuttleman/brainard
 :paths   ["resources" "src"]
 :deps    {brainard/api              {:local/root "modules/api"}
           brainard/infra            {:local/root "modules/infra"}
           org.clojure/clojure       {:mvn/version "1.12.5"}
           org.clojure/clojurescript {:mvn/version "1.12.145"}}
 :aliases {:dev      {:extra-paths ["dev/resources" "dev/src"]
                      :extra-deps  {nrepl/nrepl     {:mvn/version "1.7.0"}
                                    ring/ring-devel {:mvn/version "1.15.4"}}}
           :test     {:extra-paths ["dev/src"
                                    "test/resources"
                                    "test/src"
                                    "modules/api/test/resources"
                                    "modules/api/test/src"
                                    "modules/infra/test/resources"
                                    "modules/infra/test/src"]
                      :extra-deps  {etaoin/etaoin                 {:mvn/version "1.1.43"}
                                    lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                    lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                                    skuttleman/slag-test          {:git/url   "https://github.com/skuttleman/slag"
                                                                   :git/sha   "eea13e61c75f2de0be9bce66c2fd3614732eef4e"
                                                                   :deps/root "test-utils"}}}
           :build    {:extra-paths ["tools/src"]
                      :deps        {org.clojure/clojure           {:mvn/version "1.12.5"}
                                    io.github.clojure/tools.build {:mvn/version "0.10.13"}}
                      :ns-default  brainard.tools.build}
           :lint     {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}
                      :main-opts  ["-m"
                                   "clj-kondo.main"
                                   "--lint"
                                   "src"
                                   "modules/api/src"
                                   "modules/infra/src"
                                   "test/src"
                                   "modules/api/test/src"
                                   "modules/infra/test/src"]}
           :tools    {:extra-paths ["tools/src"]}
           :shadow   {:extra-deps {thheller/shadow-cljs {:mvn/version "3.4.11"}}}
           :intellij {:extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.13"}}
                      :extra-paths ["modules/api/resources"
                                    "modules/api/src"
                                    "modules/infra/resources"
                                    "modules/infra/src"]}}}
