{:project skuttleman/brainard
 :paths   ["resources" "src"]
 :deps    {brainard/api              {:local/root "modules/api"}
           brainard/infra            {:local/root "modules/infra"}
           org.clojure/clojure       {:mvn/version "1.11.1"}
           org.clojure/clojurescript {:mvn/version "1.11.60"}}
 :aliases {:dev      {:extra-paths ["dev/resources" "dev/src"]
                      :extra-deps  {nrepl/nrepl     {:mvn/version "1.0.0"}
                                    ring/ring-devel {:mvn/version "1.11.0"}}}
           :test     {:extra-paths ["dev/src"
                                    "test/resources"
                                    "test/src"
                                    "modules/api/test/resources"
                                    "modules/api/test/src"
                                    "modules/infra/test/resources"
                                    "modules/infra/test/src"]}
           :build    {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}}
           :shadow   {:extra-deps {thheller/shadow-cljs {:mvn/version "2.26.2"}}}
           :intellij {:extra-paths ["modules/api/resources"
                                    "modules/api/src"
                                    "modules/infra/resources"
                                    "modules/infra/src"]}}}
