{:kaocha/tests                       [{:kaocha.testable/id       :api
                                       :kaocha.filter/focus-meta [:focus]
                                       :kaocha.testable/type     :kaocha.type/clojure.test
                                       :kaocha/ns-patterns       ["-test$"]
                                       :kaocha/source-paths      ["modules/api/src"]
                                       :kaocha/test-paths        ["modules/api/test/src"]}
                                      {:kaocha.testable/id       :infra
                                       :kaocha.filter/focus-meta [:focus]
                                       :kaocha.testable/type     :kaocha.type/clojure.test
                                       :kaocha/ns-patterns       ["-test$"]
                                       :kaocha/source-paths      ["modules/api/src"
                                                                  "modules/infra/src"]
                                       :kaocha/test-paths        ["modules/infra/test/src"]}
                                      {:kaocha.testable/id       :integration
                                       :kaocha.filter/focus-meta [:focus]
                                       :kaocha.testable/type     :kaocha.type/clojure.test
                                       :kaocha/ns-patterns       ["^brainard\\.test\\.integration\\..*-test$"]
                                       :kaocha/source-paths      ["src"
                                                                  "modules/api/src"
                                                                  "modules/infra/src"]
                                       :kaocha/test-paths        ["test/src"]}
                                      {:kaocha.testable/id       :ui-core
                                       :kaocha.filter/focus-meta [:focus]
                                       :kaocha.testable/type     :kaocha.type/clojure.test
                                       :kaocha/ns-patterns       ["^brainard\\.test\\.ui\\.core\\..*-test$"]
                                       :kaocha/source-paths      ["src"
                                                                  "modules/api/src"
                                                                  "modules/infra/src"]
                                       :kaocha/test-paths        ["test/src"]}
                                      {:kaocha.testable/id       :ui-notes
                                       :kaocha.filter/focus-meta [:focus]
                                       :kaocha.testable/type     :kaocha.type/clojure.test
                                       :kaocha/ns-patterns       ["^brainard\\.test\\.ui\\.notes\\..*-test$"]
                                       :kaocha/source-paths      ["src"
                                                                  "modules/api/src"
                                                                  "modules/infra/src"]
                                       :kaocha/test-paths        ["test/src"]}]
 :kaocha/bindings                    {kaocha.stacktrace/*stacktrace-filters*   []
                                      kaocha.stacktrace/*stacktrace-stop-list* []}
 :kaocha/fail-fast?                  false
 :kaocha/color?                      true
 :kaocha/reporter                    [kaocha.report/documentation]
 :kaocha/plugins                     [:kaocha.plugin/randomize
                                      :kaocha.plugin/filter
                                      :kaocha.plugin/capture-output
                                      :kaocha.plugin/profiling]
 :kaocha.plugin.randomize/randomize? true
 :kaocha.plugin.profiling/profiling? true
 :kaocha.plugin.profiling/count      5}
