{:linters {:unused-binding          {:level :off}
           :unused-private-function {:level :off}
           :unused-private-var      {:level :off}}
 :lint-as {brainard.api.utils.logger/with-duration clojure.core/let}}
