{:linters {:unused-binding          {:level :off}
           :unused-private-function {:level :off}
           :unused-private-var      {:level :off}}
 :lint-as {brainard.test.harness.integration.system/with-app clojure.core/let
           brainard.test.harness.ui.system/with-webdriver    clojure.core/fn}}
