{:linters {:unused-binding          {:level :off}
           :unused-private-function {:level :off}
           :unused-private-var      {:level :off}}
 :lint-as {brainard.api.utils.logger/with-duration clojure.core/let
           brainard.test.system/with-system        clojure.core/let
           brainard.test.ui-system/with-system     clojure.core/fn
           defacto.forms.plus/validated            clojure.core/defmethod
           whet.utils.reagent/with-let             clojure.core/let}}
