{:paths ["src"]
 :deps  {skuttleman/defacto {:git/url "https://github.com/skuttleman/defacto"
                             :sha     "99ff98ee81194d647d1a1b80e255e2ae02c23832"}
         kibu/pushy         {:mvn/version "0.3.8"}}}
