{:duct.profile/base #duct/include "duct/base.edn"
 :duct.profile/prod {[:brainard.datomic/file-logger :brainard.datomic/logger]
                     {:db-name #ig/ref :cfg.datomic/db-name}

                     [:cfg.datomic/db-name :duct/const]
                     #duct/env ["DATOMIC_DB_NAME" :or "brainard"]}}
