{:duct.profile/base {[:brainard/application :duct/daemon :duct/const]
                     #ig/ref :brainard/webserver

                     :brainard/webserver
                     {:apis        {:notes #ig/ref :brainard.api/notes}
                      :server-port #ig/ref :cfg/server-port}

                     ;; apis
                     [:brainard.api/notes :duct/const]
                     {:store #ig/ref :brainard.store/notes}

                     ;; stores
                     :brainard.store/notes
                     {:datomic-conn #ig/ref :brainard.datomic/conn}

                     ;; infra
                     :brainard.datomic/conn
                     {:client      #ig/ref :brainard.datomic/client
                      :db-name     #ig/ref :cfg/datomic-db-name
                      :schema-file #ig/ref :cfg/datomic-schema-file}

                     :brainard.datomic/client
                     {:client  {:server-type :dev-local
                                :storage-dir :mem
                                :system      #ig/ref :cfg/datomic-db-name}
                      :db-name #ig/ref :cfg/datomic-db-name}

                     ;; env
                     [:cfg/server-port :duct/const]
                     #duct/env ["PORT" Int :or #duct/env ["SERVER_PORT" :or "1165"]]

                     [:cfg/datomic-db-name :duct/const]
                     #duct/env ["DATOMIC_DB_NAME" :or "brainard"]

                     [:cfg/datomic-schema-file :duct/const]
                     #duct/env ["DATOMIC_SCHEMA_FILE" :or "schema.edn"]}}