[;; notes
 {:db/ident       :notes/id
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity
  :db/doc         "The external id of the note"}
 {:db/ident       :notes/context
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "The relevant meeting/context"}
 {:db/ident       :notes/body
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext    true
  :db/doc         "The body of the note"}
 {:db/ident       :notes/tags
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/many
  :db/doc         "Associated tags"}
 {:db/ident       :notes/pinned?
  :db/valueType   :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc         "Is the note pinned to the workspace"}
 {:db/ident       :notes/timestamp
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc         "The time the note was recorded"}

 ;; schedules
 {:db/ident       :schedules/id
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity
  :db/doc         "The external id of the schedule"}
 {:db/ident       :schedules/note-id
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc         "The id of the note to which the schedule applies"}
 {:db/ident       :schedules/before-timestamp
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc         "A maximum UTC timestamp before which the schedule applies"}
 {:db/ident       :schedules/after-timestamp
  :db/valueType   :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc         "A minimum UTC timestamp after which the schedule applies"}
 {:db/ident       :schedules/month
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc         "The month when the schedule applies"}
 {:db/ident       :schedules/day
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc         "The day-of-the-month when the schedule applies"}
 {:db/ident       :schedules/weekday
  :db/valueType   :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/doc         "The weekday the schedule applies"}
 {:db/ident       :schedules/week-index
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc         "The week index (i.e. first week = 0, second week = 1, etc.) when the schedule applies"}

 ;; workspace
 {:db/ident       :workspace-nodes/id
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique      :db.unique/identity
  :db/doc         "The external id of the workspace-node"}

 {:db/ident       :workspace-nodes/index
  :db/valueType   :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc         "The ordinal position within its parents children"}

 {:db/ident       :workspace-nodes/parent-id
  :db/valueType   :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/doc         "The node's parent-id"}

 {:db/ident       :workspace-nodes/content
  :db/valueType   :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc         "The node's content"}

 {:db/ident       :workspace-nodes/children
  :db/valueType   :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc         "The node's children"}]