{:duct.profile/base #duct/include "duct/base.edn"
 :duct.profile/test {:brainard.ds/conn
                     ^:promote {:db-name     #ig/ref :brainard.test/db-name
                                :storage-dir :mem}

                     :brainard.test/db-name
                     {}

                     [:brainard.web/handler :brainard/IWebHandler]
                     {}}}
