.pointer {
    cursor: pointer;
}

.layout--relative {
    position: relative;
}

.layout--xl {
    @media(min-width: 1200px) {
        &.gutters {
            margin: 0 100px;
        }
    }
}

.layout--xxl {
    @media(min-width: 1800px) {
        &.gutters {
            margin: 0 16vw;
        }
    }
}

.layout--inset {
    padding-left: 12px;
    padding-right: 12px;
}

.layout--row {
    display: flex;
    flex-direction: row;
}

.layout--col {
    display: flex;
    flex-direction: column;
}

.layout--space-above {
    padding-top: 12px;
}

.layout--space-below {
    padding-bottom: 12px;
}

.layout--space-after {
    padding-right: 12px;
}

.layout--stack-between {
    display: flex;
    flex-direction: column;

    & > *:not(:first-child) {
        margin-top: 12px;
    }
}

.layout--space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > *:not(:first-child) {
        margin-left: 12px;
    }
}

.layout--room-between {
    display: flex;
    flex-direction: row;

    & > *:not(:first-child) {
        margin-left: 8px;
    }
}

.layout--center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout--align-center {
    display: flex;
    align-items: center;
}

.layout--no-shrink {
    flex-shrink: 0;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.is-small {
    font-size: 0.75em;
}

.button-row {
    padding: 8px 0;
    & > *:not(:first-child) {
        margin-left: 16px;
    }
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.space--left {
    margin-left: 8px;
}

.space--bottom {
    margin-bottom: 8px;
}
