$blue: #1c92eb;
$light-blue: #eef;
$green: #23d160;
$red: #ff3860;
$yellow: #ddbb35;
$orange: #ffa400;
$light-grey: #eee;
$grey: #aaa;
$purple: #720e9e;

.blue {
    color: $blue !important;
}

.green {
    color: $green !important;
}

.red {
    color: $red !important;
}

.yellow {
    color: $yellow !important;
}

.orange {
    color: $orange !important;
}

.light-grey {
    color: $light-grey !important;
}

.purple {
    color: $purple !important;
}