@import 'variables';
@import 'normalize';
@import 'controls';
@import 'dropdown';
@import 'layout';
@import 'modals';
@import 'toast';

.loader {
    &.large {
        border-width: 8px;
        height: 100px;
        width: 100px;
    }
    &.medium {
        border-width: 4px;
        height: 40px;
        width: 40px;
    }
}

.block {
    display: block;
}

.blue {
    color: $blue !important;
}

.green {
    color: $green !important;
}

.red {
    color: $red !important;
}

.red {
    color: $yellow !important;
}

.form {
    &.errors {
        &.is-changed {
            .form-error-list {
                color: $orange;
            }
        }

        .form-error-list {
            transition: color 0.5s ease-out;
            color: $red;
        }

        .button.submit {
            &.disabled {
                background-color: $orange;
                border-color: $orange;
            }
        }
    }
}

.form-field {
    &.errors {
        .button-group, .input, .select, .textarea, .dropdown-trigger > .button {
            border-color: $red;

            &:focus {
                box-shadow: 0 0 0 0.125rem rgba($red, 0.25);
            }
        }

        &.is-changed {
            .error-list {
                color: $orange;
            }
        }

        .error-list {
            transition: color 0.5s ease-out;
            color: $red;
        }
    }

    &.warnings {
        .button-group, .input, .select, .textarea, .dropdown-trigger > .button {
            border-color: $yellow;

            &:focus {
                box-shadow: 0 0 0 0.125rem rgba($red, 0.25);
            }
        }

        .warning-list {
            color: $yellow;
        }
    }
}

.tag-list {
    .tags:last-child {
        margin-bottom: 1rem;
    }
}

textarea {
  resize: none !important;
  margin-bottom: 24px;
}

.anchored {
    border-radius: 4px;
    background-color: rgba(220, 220, 255, 0.25);
}

.tree-list {
    li:not(:first-child) {
        margin-top: 12px;
        &:last-child {
            margin-bottom: -8px;
        }
    }

    .button.form-toggle {
        &.focus, &.is-focus, &:focus {
            background-color: #f9f9f9;
        }
    }

    margin-bottom: 8px;
}

.tree-root {
    .target {
        background-color: $light-grey;
    }
}

.fas.is-danger {
    color: $red;
}
