@import 'variables';
@import 'normalize';

@import 'dropdown';
@import 'forms';
@import 'layout';
@import 'modals';
@import 'toast';

.loader {
    &.large {
        border-width: 8px;
        height: 100px;
        width: 100px;
    }
    &.medium {
        border-width: 4px;
        height: 40px;
        width: 40px;
    }
}

.block {
    display: block;
}

.tag-list {
    margin-bottom: 0 !important;

    .tags:last-child {
        margin-bottom: 1rem;
    }
}

.search-results, .note-history {
    li {
        padding: 8px;
        border-radius: 4px;

        &:nth-child(odd) {
            background-color: rgba(225, 225, 225, 0.25);
        }
    }
}

.expanded {
    background-color: rgba(0, 0, 127, 0.1) !important;
}

.drag-n-drop {
    user-select: none;

    .drop-target {
        background-color: hsl(204, 86%, 53%);
    }

    .node-item .node-list {
        margin-left: 12px;
    }

    .drag-group {
        background-color: cyan;
    }
}
