{:paths   ["resources" "src"]
 :deps    {bidi/bidi                      {:mvn/version "2.1.6"
                                           :exclusions  [ring/ring-core]}
           brainard/api                   {:local/root "../api"}
           datascript/datascript          {:mvn/version "1.6.1"}
           duct/core                      {:mvn/version "0.8.0"}
           io.github.nextjournal/markdown {:mvn/version "0.5.148"}
           org.immutant/immutant          {:mvn/version "2.1.10"
                                           :exclusions  [ch.qos.logback/logback-classic
                                                         org.jboss.naming/jnpserver
                                                         ring/ring-core]}
           skuttleman/whet                {:git/url "https://github.com/skuttleman/whet"
                                           :git/sha "b203892597c6b034845b5364f8818080256cbea5"}}
 :aliases {:test     {:extra-paths ["test/resources" "test/src"]}
           :intellij {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}}}}}
