{:paths   ["resources" "src"]
 :deps    {aleph/aleph                                {:mvn/version "0.9.9"}
           brainard/api                               {:local/root "../api"}
           com.cognitect.aws/api                      {:mvn/version "0.8.824"}
           com.cognitect.aws/endpoints                {:mvn/version "871.2.44.8"}
           com.cognitect.aws/s3                       {:mvn/version "871.2.43.0"}
           com.datomic/local                          {:mvn/version "1.0.291"}
           commons-fileupload/commons-fileupload      {:mvn/version "1.6.0"}
           duct/core                                  {:mvn/version "0.8.1"}
           io.github.nextjournal/markdown             {:mvn/version "0.7.225"}
           javax.servlet/javax.servlet-api            {:mvn/version "4.0.1"}
           org.apache.lucene/lucene-core              {:mvn/version "8.6.3"}
           org.apache.lucene/lucene-analyzers-common  {:mvn/version "8.6.3"}
           org.apache.lucene/lucene-suggest           {:mvn/version "8.6.3"}
           skuttleman/whet                            {:git/url "https://github.com/skuttleman/whet"
                                                       :git/sha "14226722e7b8980b8eb1e666b9cf31ed824c6a2d"}}
 :aliases {:test     {:extra-paths ["test/resources" "test/src"]
                      :extra-deps  {skuttleman/slag-test {:git/url   "https://github.com/skuttleman/slag"
                                                          :git/sha   "eea13e61c75f2de0be9bce66c2fd3614732eef4e"
                                                          :deps/root "test-utils"}}}
           :intellij {:extra-deps {org.clojure/clojurescript {:mvn/version "1.12.145"}}}}}
