{:paths   ["resources" "src"]
 :deps    {aleph/aleph                           {:mvn/version "0.9.9"}
           brainard/api                          {:local/root "../api"}
           com.cognitect.aws/api                 {:mvn/version "0.8.824"}
           com.cognitect.aws/endpoints           {:mvn/version "871.2.44.8"}
           com.cognitect.aws/s3                  {:mvn/version "871.2.43.0"}
           com.datomic/local                     {:mvn/version "1.0.291"}
           commons-fileupload/commons-fileupload {:mvn/version "1.6.0"}
           duct/core                             {:mvn/version "0.8.1"}
           io.github.nextjournal/markdown        {:mvn/version "0.7.225"}
           javax.servlet/javax.servlet-api       {:mvn/version "4.0.1"}
           org.clj-commons/claypoole             {:mvn/version "1.2.2"}
           skuttleman/whet                       {:git/url "https://github.com/skuttleman/whet"
                                                  :git/sha "c7767338541e580e1ba2d2c3cda0fb3b6243321f"}}
 :aliases {:test     {:extra-paths ["test/resources" "test/src"]}
           :intellij {:extra-deps {org.clojure/clojurescript {:mvn/version "1.12.145"}}}}}
