{:duct.profile/base #duct/include "duct/base.edn"
 :duct.profile/dev {[:brainard.ds/storage-logger :brainard.ds/IDBLogger]
                     {:db-name #ig/ref :cfg.ds/db-name}

                     [:brainard.web/dev-handler :brainard/IWebHandler]
                     {}}}
