{:duct.profile/base #duct/include "duct/base.edn"
 :duct.profile/prod {[:brainard.ds/file-logger :brainard.ds/ILogger]
                     {:db-name #ig/ref :cfg.ds/db-name}

                     [:brainard.web/dev-handler :brainard/IHandler]
                     {}}}
