{:duct.profile/base #duct/include "duct/base.edn"
 :duct.profile/test {[:brainard.test/null-logger :brainard.datascript/logger]
                     {:db-name #ig/ref :cfg.datascript/db-name}

                     [:cfg.datascript/db-name :brainard.test/db-name]
                     {}}}
