{:duct.profile/base #duct/include "duct/base.edn"
 :duct.profile/test {[:brainard.test/null-logger :brainard.datomic/logger]
                     {:db-name #ig/ref :cfg.datomic/db-name}

                     [:cfg.datomic/db-name :brainard.test/db-name]
                     {}}}
